<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'main/blocks/css.html' %}
    {% include 'main/blocks/scripts_head.html' %}
    <title>{% block title %}{% endblock %} | {{ settings.APP_NAME }}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">

</head>
<body>
{% include 'main/blocks/navbar.html' %}

{% block content %}{% endblock %}

{% include 'main/blocks/back_to_top.html' %}
{% include 'main/blocks/footer.html' %}

{% include 'main/blocks/scripts_body.html' %}

</body>
</html>