<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
      {% endblock %} | TipsEtc... {{ _('Help yourself') }}...
    </title>
    {% block css %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/preloader.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% include "main/blocks/js.html" %}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    {% endblock %}
  </head>
  <body class="has-navbar-fixed-top">
    {% include "main/blocks/preloader.html" %}
    {% include "main/blocks/navbar.html" %}
    {% include "main/blocks/flash.html" %}
    {% block content %}
      {% block content_title %}
      {% endblock %}
    {% endblock %}
    {% include "main/blocks/footer.html" %}
  </body>
</html>
