{% extends "main/base.html" %}

{% block title %}{{ title.title }} {{ user.username }}{% endblock %}

{% block content%}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="box content">
          <h2>{% block content_title %}TipsEtc... {{ title.title }} {{ user.username }}{% endblock %}</h2>
          <div class="media">
            <div class="media-content">
              <div class="content">

                <div class="card">
                  <div class="card-content">

                    <div class="columns">
                      <div class="column is-two-thirds">
                        <p class="title is-2">{{ user.username }}</p>
                        {% if user.full_name %}
                        <p class="subtitle is-4">{{ _('Full name: %(full_name)s', full_name = user.full_name)}}</p>
                        {% endif %}
                        <p class="subtitle is-4">
                          {{ _('Status:') }}
                          {% if user.admin %}
                          {{ _('ADMIN') }}
                          {% elif user.author %}
                          {{ _('Author') }}
                          {% else %}
                          {{ _('Reader') }}
                          {% endif %}
                        </p>
                        {% if user.registered %}
                        <p class="subtitle is-6">{{ _('Registered: ')}}{{ moment(user.registered).format('LLLL') }}</p>
                        {% endif %}
                        {% if user.last_seen %}
                        <p class="subtitle is-6">{{ _('Last seen: ')}}{{ moment(user.last_seen).format('LLLL') }}</p>
                        {% endif %}
                        {% if user.username in current_user.username or user.show_personal %}
                        <p>
                          <a class="button is-dark is-rounded is-inverted" href="mailto:{{ user.email }}?subject=feedback">{{ _('Email:&nbsp<b>%(email)s</b>', email = user.email) }}</a>
                          {% if user.confirmed == 1 %}
                          <a class="button is-dark is-rounded is-inverted">{{ _('(confirmed)') }}</a>
                          {% else %}
                          {% if current_user.username == user.username or current_user.admin %}
                          <a class="button is-dark is-rounded is-inverted" href="{{ url_for('user.confirmemailrequest', username = current_user.username) }}">{{ _('(unconfirmed, confirm now)') }}</a>
                          {% else %}
                          <a class="button is-dark is-rounded is-inverted">{{ _('(unconfirmed)') }}</a>
                          {% endif %}
                          {% endif %}
                        </p>
                        {% if user.telegram %}
                        <p>
                          <a class="button is-dark is-rounded is-inverted" target="_blank" href="https://t.me/{{ user.telegram }}">{{ _('Telegram:&nbsp<b>@%(telegram)s', telegram = user.telegram) }}</b></a>
                        </p>
                        {% endif %}
                        {% endif %}
                        {% if user.about_me %}
                        <div class="content">
                          <h4><b>{{ user.username }}.</b>&nbsp;{{ _('About me:') }}</h4>
                          <p>{{ user.about_me }}</p>
                        </div>
                        {% endif %}
                        <p>
                          <a class="button is-dark is-rounded is-inverted" target="_blank" href="#">{{ _('Followers:&nbsp;<b>%(followers)s</b>', followers = user.followers.count())}}</a>
                          <a class="button is-dark is-rounded is-inverted" target="_blank" href="#">{{ _('Followed:&nbsp;<b>%(followed)s</b>', followed = user.followed.count())}}</a>
                        </p>
                      </div>
                      <div class="column">
                        <figure class="image is-128x128">
                          <img class="is-rounded" src="{{ user.avatar(128) }}">
                        </figure>
                      </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div>
                      <p>
                        {% if user != current_user and not current_user.is_following(user) %}
                        <a class="button is-dark is-rounded" href="{{ url_for('user.followuser', username = user.username) }}">{{ _('Follow') }}</a>
                        {% elif user != current_user and current_user.is_following(user) %}
                        <a class="button is-dark is-rounded" href="{{ url_for('user.unfollowuser', username = user.username) }}">{{ _('Unfollow') }}</a>
                        {% endif %}
                        {% if user == current_user or current_user.admin %}
                        <a class="button is-dark is-rounded" href="{{ url_for('user.edituser', username = user.username) }}">{{ _('Edit') }}</a>
                        <a class="button is-dark is-rounded" href="{{ url_for('user.deleteuser', username = user.username) }}">{{ _('Delete') }}</a>
                        {% endif %}
                      </p>
                    </div>
                    {% endif %}
                    {% if posts %}
                    <hr>
                    <div>
                      <a name="postsuser"></a>
                      <p class="title is-3">{{ _('Posts&nbsp;(%(nums)s):', nums = nums) }}</p>
                      {% for post in posts %}
                      <div class="columns">
                        <div class="column is-narrow" style="width: 100px;">
                          <figure class="image is-48x48">
                            <img class="is-rounded" src="{{ user.avatar(48) }}">
                          </figure>
                        </div>
                        <div class="column">
                          <a href="{{ url_for('post.post', slug = post.slug) }}">
                            <p class="title is-6">{{ post.title }}</p>
                          </a>
                        </div>
                      </div>
                      {% endfor %}
                      {% include "main/blocks/pagination.html" %}
                    </div>
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
