<div class="block is-centered is-small">
  {% if current_user.admin %}
  <a class="button is-dark is-rounded is-inverted is-small"
    title="
      {% if post.published %}
      {{ _('Unpublish') }}
      {% else %}
      {{ _('Publish') }}
      {% endif %}"
    href="{{ url_for('post.publishpost', id = post.id) }}">
    {{ _('Status:') }}&nbsp;
    {% if post.published %}
    {{ _('Published') }}
    {% else %}
    {{ _('In progress') }}
    {% endif %}
  </a>
  {% endif %}
  {% if post.published %}
    <a class="button is-dark is-rounded is-inverted is-small">{{ moment(post.timestamp).format('LL') }}&nbsp;({{ moment(post.timestamp).fromNow() }})</a>
  {% endif %}
  {% if post.author and post.author.username in current_user.username or current_user.admin %}
  <a class="button is-dark is-rounded is-small" href="{{ url_for('post.editpost', id = post.id) }}">{{ _('Edit') }}</a>
  <a class="button is-dark is-rounded is-small" href="{{ url_for('post.deletepost', id = post.id) }}">{{ _('Delete') }}</a>
  {% endif %}
</div>
