<div class="small text-muted">
    {% if request.user.is_authenticated %}
        <form
            hx-post="{% url 'toggle_like' obj='post' object_id=post.id %}"
            hx-target="#like-post-btn-{{ post.id }}"
            swap="outerHTML"
        >
            {% csrf_token %}
            <button
                class="btn m-0 p-0 b-0"
                id="like-post-btn-{{ post.id }}"
                type="submit"
            >
                <span class="small text-muted">
                    {% load likes_filters %}
                    {% if not post|post_is_liked_by:request.user %}
                        🖤
                    {% else %}
                        ❤
                    {% endif %}
                {{ post.likes_count }}</span>
            </button>
        </form>
    {% else %}
        <span class="small text-muted">🖤 {{ post.likes_count }}</span>
    {% endif %}
</div>
