<a href = "{{ url_for('post.post', slug=post.slug) }}">
  <span id="post{{ post.id }}">
    <h2 class = "title">{{ post.title }}</h2>
  </span>
</a>
{% if post.language and post.language != g.locale %}
<h2 class = "title">
  <span id="translation{{ post.id }}">
    <a class="button is-dark is-rounded is-inverted is-small" href="javascript:translate('#post{{ post.id }}', '#translation{{ post.id }}', '{{ post.language }}', '{{ g.locale }}');">{{ _('Post title language is: %(postlang)s.  Translate on: %(localelang)s.', postlang = post.language, localelang = g.locale) }}</a>
  </span>
</h2>
{% endif %}
{% include "post/blocks/postinfo.html" %}
<div class="media">
  <div class="media-content">
    <div class="content">
      <div class="truncate-text">
        <p>{{ post.content|safe }}</p>
      </div>
    </div>
  </div>
</div>
