<p>
    {{ post.updated_at }} by
    <a
        class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="{% url 'user_profile' user_id=post.author.id %}"
    >
        {% if not post.author.first_name and not post.author.last_name %}
            {{ post.author.username }}
        {% else %}
            {{ post.author.first_name }} {{ post.author.last_name }} ({{ post.author.username }})
        {% endif %}
    </a>
    {% if user.is_authenticated and post.author == user %}
    <br>
    Status: {{ post.published_status }}
    <a
        class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modal_post_change_status_{{ post.id }}"
    >
        (change)
    </a>
    |
    <a
        class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="{% url 'post_edit' slug=post.slug %}"
    >
        ✏ Edit post
    </a>
    |
    <a
        class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modal_post_delete_request_{{ post.id }}"
    >
        🗑 Delete post
    </a>
    {% endif %}
    <br>
    <a
        href="#comments-list"
        class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
    >
            Comments ({{ post.comments.count }})
    </a>
</p>
{% include 'post/blocks/modal_post_delete_request.html' %}
{% include 'post/blocks/modal_post_change_status.html' %}