{% extends "main/base.html" %}


{% block title %}{{ title.title }}{% endblock %}


{% block css %}
  {{ super() }}
{% endblock %}


{% block content%}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="box content">
          <h1>{% block content_title %}TipsEtc... {{ title.title }}{% endblock %}</h1>
          <p class="title is-6 has-text-centered">
            {% for category in categorys %}
            {% if category.posts.filter_by(published="1").count() > 0 %}
            <a class="button is-inverted is-rounded is-outlined" href="{{ url_for('post.categoryposts', slug = category.slug) }}">{{ category.name }} ({{ category.posts.filter_by(published="1").count() }})&nbsp;</a>
            {% endif %}
            {% endfor %}
          </p>
          {% if current_user.author %}
          <div class="box">
            <a class="button is-dark is-rounded" href="{{ url_for('admin.createcategory') }}">{{ _('Create new category') }}</a>
            {% if current_user.admin %}
            <a class="button is-dark is-rounded" href="{{ url_for('admin.adminblog', data = 'allcategorys') }}">{{ _('Edit categorys') }}</a>
            {% endif %}
          </div>
        </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
