{% extends "main/base.html" %}


{% block title %}{{ title.title }}{% endblock %}


{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='trumbowyg/dist/ui/trumbowyg.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tags.css')}}">
  <!-- Import color plugin specific stylesheet -->
  <link rel="stylesheet" href="trumbowyg/dist/plugins/colors/ui/trumbowyg.colors.min.css">
{% endblock %}


{% block scripts %}
  {{ super() }}
  <!-- Import dependency for Resizimg (tested with version 0.35). For a production setup, follow install instructions here: https://github.com/RickStrahl/jquery-resizable -->
  <script src="//rawcdn.githack.com/RickStrahl/jquery-resizable/0.35/dist/jquery-resizable.min.js"></script>
  <script src="{{ url_for('static', filename='trumbowyg/dist/trumbowyg.min.js')}}"></script>
  <script src="{{ url_for('static', filename='trumbowyg/plugins/base64/trumbowyg.base64.js')}}"></script>
  <script src="{{ url_for('static', filename='trumbowyg/plugins/resizimg/trumbowyg.resizimg.js')}}"></script>
  <script src="{{ url_for('static', filename='trumbowyg/plugins/colors/trumbowyg.colors.js')}}"></script>
{% endblock %}


{% block content%}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="box content">
          <h2>{% block content_title %}TipsEtc... {{ title.title }}{{ post.title }}{% endblock %}</h2>
          <div class="media">
            <div class="media-content">
              <div class="content">
                <form action="" class="box" method="post" novalidate>
                  {{ form.hidden_tag() }}
                  <div class="field">
                    {% if current_user.admin and post.author %}
                    <label class="label">{{ _('Author: "%(username)s". User ID: %(userid)s.', username = post.author.username, userid = post.users_id ) }}</label>
                    <div class="select is-rounded is-fullwidth">
                      {{ form.author(value=post.author.username) }}
                    </div>
                    {% elif current_user.admin %}
                    <label class="label">{{ form.author.label }}</label>
                    <div class="select is-rounded is-fullwidth">
                      {{ form.author(value=current_user.username) }}
                    </div>
                    {% elif post.author %}
                    <label class="label">{{ _('Author: "%(username)s".', username = post.author.username)}}</label>
                    {% endif %}
                    <p></p>
                  </div>
                  <div class="field">
                    <label class="label">{{ form.title.label }}</label>
                    <div class="control">
                      {{ form.title(class="input is-rounded", type="text", placeholder=_("Post title")) }}
                      {% for error in form.title.errors %}
                      <p></p>
                      <div class="notification is-danger is-light">
                        <button class="delete"></button>
                        {{ error }}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">{{ form.slug.label }}</label>
                    <div class="control">
                      {{ form.slug(class="input is-rounded", type="text", placeholder=_("Post URL")) }}
                      {% for error in form.slug.errors %}
                      <p></p>
                      <div class="notification is-danger is-light">
                        <button class="delete"></button>
                        {{ error }}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">{{ form.content.label }}</label>
                    <div class="control">
                      {{ form.content(id="editor", placeholder=_("Post content")) }}
                      <!-- {{ form.content(class="textarea is-rounded", type="text", placeholder=_("Post content")) }} -->
                      {% for error in form.content.errors %}
                      <p></p>
                      <div class="notification is-danger is-light">
                        <button class="delete"></button>
                        {{ error }}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <label class="label">{{ form.category.label }}</label>
                  <div class="select is-rounded is-fullwidth">
                    {{ form.category }}
                  </div>
                  <p></p>
                  <label class="label">{{ _('Tags:') }}</label>
                  {% include "post/blocks/posttagsshow.html" %}
                  <p></p>
                  <div class="field">
                    <label class="checkbox">
                      {{ form.edittagsaftersaving(type="checkbox") }} {{ form.edittagsaftersaving.label }}.
                    </label>
                  </div>
                  {% if current_user.admin %}
                  <div class="field">
                    <label class="checkbox">
                      {{ form.published(type="checkbox") }} {{ form.published.label }}.
                    </label>
                  </div>
                  {% endif %}
                  <p></p>
                  <div class="field">
                    {{ form.submit(class="button is-rounded is-dark is-fullwidth") }}
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ url_for('static', filename='js/trumbowygadmin.js')}}"></script>

{% endblock %}
