{% extends "main/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="col-lg-8 mx-auto p-4 py-md-5">

    {% if request.user.is_authenticated %}
    {% if param == 'my_posts' or param == 'my_drafts' or param == 'my_posts_for_all' or param == 'my_posts_for_subscribers' %}
    {% include "post/blocks/posts_tabs.html"%}
    {% endif %}
    {% endif %}

    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        {% load static %}
        <p style="max-width:50%; height: auto;">
            <img src="{% static 'logo/logo_max.png' %}" class="img-fluid" alt="Tips etc.. Logos.">
        </p>
        <h1 style="max-width: 50%; height: auto;">
            {{ title }}
            ({{ count_posts }})
        </h1>
    </header>

    {% include "post/blocks/posts_item.html"%}

</div>

{% endblock %}
