<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">{{ settings.APP_NAME }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Blog</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    </form>
                </li>
                <li>
                    <button class="btn btn-sm btn-primary theme-toggle me-2" id="themeToggle">
                        {% load static %}
                        <img src="{% static 'img/toggler-theme.png' %}" alt="Theme" width="28" height="27">
                    </button>

                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        {% if not user.is_authenticated %}
                        <a class="btn btn-outline-primary" href="#">Sign Up</a>
                        <a class="btn btn-outline-primary" href="#">Sign In</a>
                        {% else %}
                        <a class="btn btn-outline-primary" href="#">Log Out</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>