{% if user_posts %}
<div>
    <h3 class="mb-3">
        <a
            class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="{% url 'posts' param='my_posts_for_all' %}"
        >
            My posts ({{ user_posts.count }})
        </a>
        {% if user_posts_for_all %}
            <a
                class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="{% url 'posts' param='my_posts_for_all' %}"
            >
                | for all ({{ user_posts_for_all.count }})

            </a>
        {% endif %}
        {% if user_posts_for_subscribers %}
            <a
                class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="{% url 'posts' param='my_posts_for_all' %}"
            >
                | for subscribers ({{ user_posts_for_subscribers.count }})

            </a>
        {% endif %}
        {% if user_posts_draft %}
            <a
                class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="{% url 'posts' param='my_drafts' %}"
            >
                | my drafts ({{ user_posts_draft.count }})

            </a>
        {% endif %}
    </h3>
    {% for post in user_posts|slice:":5" %}
        <p>
            <a
                class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="{% url 'post_view' slug=post.slug %}"
            >
                <strong>{{ post.title }} </strong>
                <small class="text-muted">by
                    {% if not post.author.first_name and not post.author.last_name %}
                        {{ post.author.username }}
                    {% else %}
                        {{ post.author.first_name }} {{ post.author.last_name }} ({{ post.author.username }})
                    {% endif %}
                </small>
                <br>
                <small class="text-muted">Updated: {{ post.updated_at|date:"F j, Y" }}</small>            </a>
            <br>
            <small class="text-muted">
                <a
                    class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    href="{% url 'post_edit' slug=post.slug %}"
                >
                    ✏ Edit post
                </a>
                 | Status:<span class="text-muted sm">{{ post.published_status }}</span>
            </small>
        </p>
    {% endfor %}

    <h6 class="mb-4">
        <a
            class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="{% url 'posts' param='my_posts_for_all' %}"
        >
            ... show all my posts ({{ user_posts.count }}) ->
        </a>
    </h6>

</div>
{% else %}
<div>
    <h3 class="mb-4">
        My posts:
    </h3>
    <p class="text-muted">
        You have no posts.
        <a
            class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="{% url 'post_create' %}"
        >
            Create a new post.
        </a>
    </p>
</div>
{% endif %}